---
interface Props {
	title: string;
}

import Nav from '../components/Nav.svelte';
console.log('page: ', Astro.url.pathname);

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<Nav 
		client:idle
			items={[
				{ href: '/', text: 'Home', classes: 'active', section: 'home'},
				{ href: '/about', text: 'About', section: 'about' },
				{ href: '/products', text: 'Products', section: 'products' },
				{ href: '/business-model', text: 'Business Model', section: 'business' },
				{ href: '/blog', text: 'Blog', section: 'blog' },
				{ href: '/contact-us', text: 'Contact Us', classes: 'button', section: 'contact'},
			]}
		/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: #2a75ab;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
		.raleway-400 {
		font-family: "Raleway", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	.raleway-700 {
		font-family: "Raleway", sans-serif;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
	}
	* {
		box-sizing: border-box;
	}

	html {
		font-family: 'Raleway', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		scroll-behavior: smooth;
		scroll-padding-top: 100px;
	}
	body {
		margin: 0;
		padding: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.active {
		text-decoration: underline !important;
	}

	.button {
		background: #1a72b0;
		color: white !important;
		padding: 0.5rem 1rem;
		border-radius: 0.25rem;
		text-decoration: none;
		transition: 0.5s;
text-decoration: none !important;
	}

	.button:hover {
		box-shadow: 0 0 0 0.25rem rgba(42, 117, 171, 0.5);

	}
</style>
